#Request {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
  #Info,
  #Visitors,
  #Activity {
    background-color: rgb(32, 34, 37);
    border-radius: 0.5em;
    border: 1px solid rgb(48, 51, 56);
  }
}
