#Portal {
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      height: 30px;
    }
  }
  .filter {
    display: flex;
    gap: 1em;
  }
  .labels {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
  }
}
