#Task {
  background-color: var(--darkBlue);
  padding: 1em;
  border-bottom: 1px solid var(--gold);
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
    color: var(--gray);
    font-weight: 600;
    .id {
      color: var(--gold);
    }
    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: transform ease 0.5s;
      margin-right: 0.25em;
      background-color: var(--darkBlue);
      color: var(--gold);
      border: none;
    }
    .timeframe {
      text-align: center;
    }
  }

  .employees {
    display: none;
    .emp {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em;
      padding: 1em 0;
      .text {
        display: flex;
        justify-content: space-between;
        color: var(--gray);
        .name {
          font-weight: 600;
          color: var(--white);
        }
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        button {
          padding: 0.25em 0.5em;
          background-color: transparent;
          color: var(--gold);
          border-color: var(--gray);
          font-weight: 600;
        }
      }
    }
  }

  .toggle {
    .info button {
      transform: rotate(180deg);
    }
    .employees {
      display: block;
    }
  }
}
